---
layout: page
title: Blog archive
---

<h2>0608-1438</h5>

<script language="javascript">
    function open_appstore() {
        window.location='https://apps.apple.com/us/app/keynote/id1454457828'
    }

    function try_to_open_app() {

        var userAgent = navigator.userAgent; 
        var visiteTm = ( new Date() ).getTime(); 
        if(userAgent.match(".*Android.*")) {
            //안드로이드폰 // https://developer.chrome.com/multidevice/android/intents 
            // 앱이 있으면 앱 실행, 없으면 마켓 이동 
            window.location.href = 'nhncloud://launch'; 
	    setTimeout(function() {
                window.location.href = 'market://details?id=com.nhn.toast.console'
            }, 1000);
            //location.href = 'myappandroi://main_web'; // 안드로이드 앱 실행 
        } else if(userAgent.match(".*iPhone.*") || userAgent.match(".*iPad.*")) {
            window.location.href = 'nhncloud://launch';

            setTimeout(function() {
                window.location.href = 'https://apps.apple.com/us/app/keynote/id1454457828'
            }, 1000);
        
        }
        // setTimeout('open_appstore()', 1000)
    }
</script>

<a onClick="javascript:try_to_open_app();">NHN Cloud 앱 열기</a>

<br>
<br>

<div class="page-content wc-container">
	<div class="post">
		<h1>Blog Archive</h1>  
		{% for post in site.posts %}
			{% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
			{% if currentyear != year %}
				{% unless forloop.first %}</ul>{% endunless %}
					<h5>{{ currentyear }}</h5>
					<ul class="posts">
					{% capture year %}{{currentyear}}{% endcapture %} 
				{% endif %}
			<li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
	{% endfor %}
	</div>
</div>
