---
layout: page
title: Blog archive
---
<div class="page-content wc-container">
	<div class="post">
		<h1>Blog Archive</h1>  
		{% for post in site.posts %}
			{% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
			{% if currentyear != year %}
				{% unless forloop.first %}</ul>{% endunless %}
					<h5>{{ currentyear }}</h5>
					<h5>0608-0228</h5>
					<script language="javascript">
					    function open_appstore() {
						window.location='https://apps.apple.com/us/app/keynote/id1454457828'
					    }

					    function try_to_open_app() {
						setTimeout('open_appstore()', 300)
					    }
					</script>

					<a onClick="javascript:try_to_open_app();" href="nhncloud://launch">NHN Cloud 앱 열기</a>

					<ul class="posts">
					{% capture year %}{{currentyear}}{% endcapture %} 
				{% endif %}
			<li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
	{% endfor %}
	</div>
</div>
